
.intro{
    display:flex;
    justify-content: space-around;
    margin:0%;
    width:98vw;
    height: 90vh;
 
}

.intro .intro-subSection{
display:flex;
flex-direction: column;
justify-content: center;
}
   
.intro-head{
    font-family: 'Roboto Mono', monospace;
    margin-top: 8%;
    
}

.intro-text{
    font-family: 'Times New Roman', Times, serif;
    margin-top: 8%;
    font-weight: lighter;
    font-size: 1.8rem;
}

.intro button{
    margin-top: 8%;
    width:30%;
    padding:3%;
    border:none;
    border-radius:30px;
    background-color: black;
    color: azure;
}

.intro img{
    margin-top: 8%;
    width:35vw;
    height:50vw;

    margin-left:15%;
}

@media screen and (max-width:850px){
    .intro{
        height: 100vh;
        background-image: url("./Gif.gif");
        background-repeat: no-repeat;
        background-size: cover;
        justify-content: center;
    }
    .intro-subSection{
        font-size: 1rem;
        text-align: center;
    }

    .intro-text{
        font-size: 2rem;
    }

    .intro img{
        display: none;
    }

}
