footer{
    display: flex;
    justify-content: space-between;
    border-top:0.5px solid rgba(240, 233, 233, 0.374);
    background-color: rgba(240, 233, 233, 0.49);
    height: 40vh;
    box-sizing: border-box;
    padding:5%;
    font-family: 'Roboto Mono', monospace;
  max-width: 98vw;
    
    }
    
    footer .head{
        flex:2;
        margin:2% 5%;
        font-size:1.3rem;
        font-weight: bold;
        font-family: 'Dancing Script', cursive;
       text-align: left;
    
    }
    
    footer .content{
    flex:1;
    display:flex;
    }
    
    footer .content div{
        margin:3%;
    }
    
    footer .content .heading{
        font-weight: bold;
        font-size: 1.3rem;
        font-family: 'Dancing Script', cursive;
    }
    
    footer span{
        display: block;
        font-size: 1rem;
        margin:10%;
        cursor: pointer;
    }
    

    @media screen and (max-width:850px) {
        .head{
            display: none;
        }
    }