.logo{
    margin:0 2%;
    font-size: 1.35rem;
    font-family: 'Dancing Script', cursive;
    flex:1;
}

.nav{
    margin:1% 7%;
   display: flex;
   font-size:1.5vw;   
   position: fixed;
   width:98vw;
   z-index: 4;
   
}

.nav-content{
    font-family: 'Roboto Mono', monospace;
    cursor:pointer;
    display:flex;
    justify-content:center;
    font-weight:light;
    flex:2;
    font-size: 1.35rem;

}

.nav-content span{
    margin:0 3%;
}


@media screen and (max-width:850px) {
   .logo{
    flex:0;
   }
    .nav-content{
        flex:2;
        font-size: 1rem;
        margin:0;

    }
}

@media screen and (max-width:500px) {
     
    .logo{
        display: none;
    }
    .nav{
        margin:0;
    }

}
